::placeholder {
    color: gray;
}

body {
    font-family: "Parkinsans", sans-serif;
    margin: 3em;
    padding: _ 10em;
    color: pink;
}

body {
    a {
        font-weight: 650;
        background-image: url("assets/placeholder.png");
        background-size: cover;
        background-repeat: repeat;
    }
}
